<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Motera.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
				<key>dateExpires</key>
				<string>6/21/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoCamera.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoCameraBarcodeScanning.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoFileSystem.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoFont.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoImageManipulator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoLocation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesJSI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesWorklets.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoPrint.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.20.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>24.20.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.20.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>11.20.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>11.20.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>38</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10A2D8FA8F2BF053CD19F5BB581A181EA5B9D5E7</string>
						<key>dateExpires</key>
						<string>6/21/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UAVV7MUKL6</string>
						<key>name</key>
						<string>minhyuk kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UAVV7MUKL6.com.motif.motera</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UAVV7MUKL6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Motera.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>be7885e7-2e49-46b1-86d2-9500f37428ac</string>
				<key>dateExpires</key>
				<string>6/21/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.motif.motera</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UAVV7MUKL6</string>
				<key>name</key>
				<string>minhyuk kim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.0</string>
		</dict>
	</array>
</dict>
</plist>
